/* Estilo principales */
*{
    box-sizing: border-box;
}

ul, ol {
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}
li{
    list-style-type: none;
    background: #ccc;
    height: 100%;
    display: grid;
    align-items: center;
}

nav ul{
    display: grid;
    grid-template-rows: 43px;
    grid-template-columns: repeat(5, 19%);
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

@media(max-width: 768px){
    nav ul{
        grid-template-rows: repeat(5, 43px);
        grid-template-columns: 100%;
        row-gap: 2px;
    }
}